# NB: REQUEST_URI is not defined in conf-available, only THE_REQUEST is
<If "req_novary('X-Gitlab-Token') == '{{ gitlab_webhook_secret }}' && %{THE_REQUEST} =~ /deploy /">
    #SetEnv GRAY_LOG_HOST foo
    #SetEnv GRAY_LOG_TOKEN bar

    SetEnvIfExpr "true" PATH_INFO "/usr/local/bin/autodeploy.php"
    SetHandler "proxy:unix:/run/php/autodeploy.sock|fcgi://localhost/usr/local/bin/autodeploy.php"

    SetEnv GITLAB_TOKEN {{ gitlab_api_token }}
    SetEnv COMPOSER_DISCARD_CHANGES 1
    SetEnv INVENTORY_HOSTNAME {{ inventory_hostname }}
</If>
